@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #dadadb;
    text-align: center;
    /*margin: 0;*/
}

.slider-wrapper {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}

.main-container {
    display: flex;
    /* Esto pone los hijos uno al lado del otro */
    width: 100%;
    height: 50vh;
}

.ruleta-container {
    display: flex;
    /* Activa flexbox */
    flex-direction: column;
    /* Alinea los elementos verticalmente */
    justify-content: space-between;
    /* Distribuye espacio uniforme entre elementos */
    /*height: 56vh;*/
    /* Opcional: define una altura (ej. el 100% de la ventana) */
    width: 50vw;
    /* Ocupa la mitad del ancho de la pantalla */
}

.ruleta-container p {
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    /*margin: 0 300px -50px 0;*/
    margin: 0 auto;
    width: 450px;
    color: #333;
    text-align: left;
}

.ruleta-container p i {
    margin-right: 10px;
}

.ruleta-container .visor {
    margin: 0 auto;
    margin-top: -15px;
}

.ruleta-container h1 {
    font-size: 25px;
    margin: 0 10px;
}

.visor {
    width: 450px;
    height: 225px;
    overflow: hidden;
    border: 5px solid #0d6efd;
    border-radius: 12px;
    background: #fdf6e3;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
}

.visor::before,
.visor::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 30px;
    z-index: 2;
}

.visor::before {
    top: 0;
    /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent);*/
    background: linear-gradient(to bottom, rgba(13, 110, 253, 0.2), transparent);
}

.visor::after {
    bottom: 0;
    /*background: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent);*/
    background: linear-gradient(to top, rgba(13, 110, 253, 0.2), transparent);
}

#listaColaboradores {
    display: flex;
    flex-direction: column;
    transition: transform 4s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.participante {
    height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    background: white;
}

button {
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    background: #F4320B;
    color: white;
    cursor: pointer;
}

button i {
    margin-right: 8px;
}

button:hover {
    background: #d12b08;
}

/*
/* Animación de rotación infinita 
@keyframes rotar {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* Esta clase se aplicará al icono mediante JavaScript para activar la animación
.girando {
    animation: rotar 1s linear infinite;
}
*/

#ganador {
    visibility: hidden;
    /*No muestra la etiqueta hasta que haya un ganador*/
    opacity: 0;
    background: #0d6efd;
    color: white;
    padding: 15px 25px;
    border-radius: 15px;
    display: inline-block;
    box-shadow:
        0 0 15px rgba(13, 110, 253, 0.7),
        0 0 30px rgba(13, 110, 253, 0.5);
    transition: opacity 0.3s ease;
}

.ya-ganador {
    opacity: 0.4;
    background: #ddd;
}

.ganador {
    background: #0d6efd !important;
    color: white !important;
    transform: scale(1.03);
    transition: all 0.3s ease;
    box-shadow:
        0 0 15px rgba(13, 110, 253, 0.8),
        0 0 25px rgba(13, 110, 253, 0.9);
}

.historial {
    /*flex: 1;*/
    width: 50vw;
}

.historial-container {
    height: 90%;
    width: 70%;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 12px;
    border: 4px solid #0d6efd;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.historial-container h3 {
    /*margin-bottom: 10px;*/
    font-size: 18px;
    background: #0d6efd;
    color: white;
}

#listaGanadores {
    list-style: none;
    padding: 0;
    max-height: 90%;
    overflow-y: auto;
}

#listaGanadores li {
    padding: 8px;
    border-bottom: 1px solid #eee;
    font-weight: 500;
}

.btnHistorial {
    margin-top: 30px;
}

.creditos {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    /* Ajusta a tu gusto */
    font-size: 15px;
    opacity: 0.7;
    background-color: #333;
    /*margin: 5px 0 0 0;*/
}

.creditos p {
    font-weight: bold;
    margin: 3px 0 0 0;
    padding: 5px 0;
    line-height: 0.6;
    color: #bdbbbb;
}